.card-container {
    width: 300px;
    overflow: hidden;
    background: purple;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in-out;
    margin-left: 16px;
  }
  
  .card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
  }
  
  .image_container img {
    overflow: hidden;
    width: 250px;
    height: 250px;
  }
  .card-title {
    margin: 1rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 21px;
  }