/*   color variables */
/*   border radius */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodyy {
  font-family: "Convergence", sans-serif;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #060b23;
  display: inline-block;
}

.form {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin: 40px;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #e1e5ee;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  color: white;
  outline: none;
  padding: 1.25rem;
  background: none;

  /* Change border when input focus*/
}
.form__input:hover {
  border-color: #adffff;
}
.form__input:focus {
  border-color: #18ffff;
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: white;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #060b23;
}

@media only screen and (min-width: 1268px) {
  .form {
    display: inline-block;
  }
}
@media only screen and (max-width: 768px) {
  .form {
    width: 15rem;
  }
  .heading {
    font-size: 25px;
  }
}
/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}
